@charset "utf-8";
*, *::before, *::after{
	box-sizing: border-box;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd{
  margin: 0;
}
ul, ol{
  padding: 0;
  margin: 0;
}
:root{
  --main: #3b394f;
  --bg1: #fff;
  --text1: #333;
  --text2: #666;
  --max-width: 100rem;
  --page-left-padding: 12rem;
  scroll-behavior: smooth;
}
body{
  background: var(--bg1);
	font-family: Apercu, sans-serif;
	text-align: center;
	color: var(--text2);
	line-height: 1;
	width: 100%;
	overflow-x: hidden;
	max-width: var(--max-width);
	margin: 0 auto;

  -webkit-tap-highlight-color: transparent;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  accent-color: var(--main);
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
}
em{font-style: normal;}
*:focus{
	outline-color: var(--main);
	outline-width: 4px;
}
*:active{outline: none;}
::selection{
	background: var(--main);
	color: var(--bg1);
	text-shadow: none;
}
:target{
  scroll-margin-block: 5ex;
}
a{
	color: inherit;
	cursor: hand;
	text-decoration: none;
}
ul,ol{
	list-style: none;
	list-style-position: inside;
}
li{
	margin: 0;
}
.autowidth{
	max-width: var(--max-width);
	margin: 0 auto;
	/* width: 70vw; */
}
.mask{
	position: fixed;
	z-index: 9999;
	display: none;
	border: .6rem solid #fff;
}
.mt, .mb{
	height: 0;
	width: 100%;
	left: 0;
}
.mb{bottom: 0;}
.mt{top: 0;}
.mv{
	bottom: 0;
	height: 999em;
	width: 0;
}
.ml,.ml2{left: 0;}
.mr,.mr2{right: 0;}
.ml2,.mr2{bottom: none;top: 0;}

h1, .tagline, .header-name strong{
	font-family: 'Fira', sans-serif;
	font-weight: 700;
	/* font-variant-alternates: stylistic(1); */
}
/*~Nav*/
nav{
	z-index: 9999;
	background: #fff;
	position: fixed;
	top: 0; left: 0;
	opacity: 1;
	display: block;
	width: 100%;
	height: 3rem;
	transition: all .4s cubic-bezier(0.4,0,0,1);
}
nav:before,
nav:after{
	width: .6rem;
	height: .6rem;
	display: block;
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAgMTAiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciID48cGF0aCBkPSJNOS42LCAwIEwwLDAgTDAsOS42IEMwLDQuMjk4MDY2NTcgNC4yOTgwNjY1NywwIDkuNiwwIFoiIGZpbGw9IiNmZmYiPjwvcGF0aD48L3N2Zz4=");
	position: absolute;
	bottom: -.6rem;
  z-index: -1;
}
nav:before {left: 1rem;}
nav:after {right: 1rem;transform: rotateY(180deg);}

nav.at-bottom{
	transform: translateY(-4rem);
	opacity: 0;
}

nav .autowidth{
	height: 3rem;
	border: none;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	background: #fff;
	transition: all .4s cubic-bezier(0.4,0,0,1);
}
.scrolled nav .header-nav{
	border-color: #fff;
  max-width: 100%;
	width: 100%;
	padding: 0 .6rem;
  box-shadow: 0 1rem 1rem 0 rgba(0,0,0,.05);
}
.logo {
	float: left;
	margin: .5rem 0;
}
.logo img {
	max-height: 2rem;
	margin: 0 auto;
	opacity: .75;
}
.header-name {
	text-align: left;
	float: left;
	color: #444;
	opacity: 0;
	font-size: 1rem;
	margin: .9rem 0 0 .5rem;
	transform: translateY(-3rem);
	transition: all .2s cubic-bezier(0.4,0,0,1);
}
.scrolled .header-name {
	transform: translateY(0);
	opacity: 1;
}
.header-name span {
	font-size: 1em;
	font-weight: 300;
	color: #444;
}

nav ul{
	width: auto;
	float: right;
	margin: 0;
}
nav li{
	display: inline-block;

}

nav li a{
	padding: 1.3em .5em;
	display: inline-block;
	font-size: 0.75rem;
	height: 1rem;
	position: relative;
	font-weight: 300;
}
nav li a:after{
	content: "";
	width: 0;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all .2s cubic-bezier(1,0,0,1);
	border-bottom: .1em solid #777;
}
nav li:hover a:after {
	width: 100%;
}
/*~Header*/
header{
	font-size: 1rem;
	padding: 6rem 5rem 6rem var(--page-left-padding);
	text-align: left;
	margin-top: 3rem;
}
.tagline{
	display: block;
	color: #444;
	font-size: 3rem;
	line-height: 1.0;
	text-align: left;
	font-weight: 700;
	padding-top: 1rem;
}
.desc{
	font-size: 1.25rem;
	color: #ccc;
	font-weight: 300;
	line-height: 1.3;
	display: block;
	padding: .5em 0 1rem;
	text-align: left;
}
/*.desc:before {
	width: 140px;
	height: 4px;
	background: #0af;
	display: block;
	content: "";
	margin: .5em 0 1em;
}*/


/*~Item*/
main{
	max-width: 160em;
	margin: 0 auto;
}
.item{
	clear: both;
	position: relative;
	margin: 0 auto;
}
.half{
	width: 50%;
	float: left;
	clear: none;
}
.inner-item{
	height: 32rem;
	margin: 1rem 1rem 0;
	border-radius: .6rem;
	position: relative;
	overflow: hidden;
}
.half .inner-item{
	height: 22rem;
}
.half-l .inner-item{
	margin: 1rem .5rem 1rem 1rem;
}
.half-r .inner-item{
	margin: 1rem 1rem 1rem .5rem;
}
.item-main{
	padding-top: 12rem;
  padding-left: var(--page-left-padding);
}
.half .item-main{
	padding-top: 7rem;
}
h1{
	font-size: 2.25rem;
	color: #fff;
	font-weight: 100;
	z-index: 999;
	padding: 0 .5em 0 0;
	line-height: 1.2;
	text-align: left;
	position: relative;
}
h1 strong{
	font-weight: 700;
	font-style: normal;
}
h1:before{
	content: "＊";
	position: absolute;
	left: -1em;
	top: .06em;
	font-size: .9em;
/*	opacity: .3;*/
	font-weight: 700;
}
.item-desc{
	color: #fff;
	font-size: .8rem;
	text-align: left;
	padding: 0;
	width: 75%;
	margin: 3em 0 0;
	line-height: 1.35;
	position: relative;
	font-weight: 400;
	z-index: 999;	
}
.item-tags {
	padding: 0 ;
}

.item-btn{
	display: inline-block;
	border-radius: 2em;
	padding: .2em .7em .1em .5em;
	background: none;
	font-size: .8rem;
	cursor: pointer;
	font-weight: 400;
	margin: 0 .4em 0 -.5em;
	transition: all .2s cubic-bezier(0.4,0,0,1);
	text-decoration: none;
}
.item-btn:after{
	content: "‣";
	display: inline-block;
	margin: 0 0 0 .4em;
	transition: all .25s cubic-bezier(0.4,0,0,1);
}
.item-btn:hover:after{
	transform: translateX(50%);
}
.item:hover .item-btn{
}
.item .item-btn:hover{
	background: #fff;
	color: #333;
}
.item-center h1{
	text-align: center;
}
.item-center h1:before{
	display: none;
}
.item-center .item-btns{
	text-align: center;
	width: 100%;
}
.item-center .item-desc{
	text-align: center;
}
/*~Showcases*/
main img{
	pointer-events: none;
}
.ani-1,
.ani-2{
	transition: all .8s cubic-bezier(0.4,0,0,1) .2s;
}
.ani-slow-1{
	transition: all 2s cubic-bezier(0.4,0,0,1) .2s;
}
article{
  --item-text1: var(--text1);
  --item-text2: rgba(255,255,255,.65);
  --item-bg: var(--bg1);
}
article h1{
  color: var(--item-text1);
}
article :is(.item-desc,.item-tags,.item-btn){
  color: var(--item-text2);
}
article .inner-item{
  background: var(--item-bg);
}

.s-analytttics{
  --item-text1: #bbb;
  --item-text2: rgba(255,255,255,.5);
  --item-bg: #1f1f1f;
}
.s-analytttics-img{
	position: absolute;
	bottom: 0;
	width: 50%;
	right: 0;
}
.s-name{
  --item-text1: #fff;
  --item-text2: #d0c8f0;
  --item-bg: #987ff1;
}
.s-name-demo{
	position: absolute;
	bottom: 0;
	height: 80%;
	right: 0;
}
.s-anyway{
  --item-text1: #fff;
  --item-bg: #f60c3e;
}
.s-anyway-img{
	position: absolute;
	transition: all .35s cubic-bezier(0.4,0,0,1) 0s;
	top: 50%;
	width: 11%;
	left: 62%;
	animation: anyway-floating 6s ease-out 0s infinite alternate-reverse;
}
.s-anyway .item-btns {
	margin-top: 1em;
}
.s-anyway .item-tags {
	width: 80%;
}

@keyframes anyway-floating {
	0% {transform: translateY(-2rem);}
	100% {transform: translateY(2rem);}
}
.s-anyway-cube-2{
	top: 10%;
	width: 21%;
	left: 74%;
	animation-delay: 1s;
	animation-duration: 7s;
}
.s-anyway-cube-3{
	top: 0%;
	width: 16%;
	left: 6%;
	opacity: .5;
	animation-delay: .5s;
	animation-duration: 8s;
}
.s-aw2016{
  --item-text1: #4d4d4d;
  --item-text2: #4d4d4d;
  --item-bg: #f7f7f7;
}
.s-aw2016 .inner-item{
	background: #f7f7f7 url('../assets/aw2016-tile.gif');
	border-bottom: 8px solid #4a4a4a;
}
.s-aw2016-logo{
	position: absolute;
	top: 35%;
	right: 8%;
	height: 30%;
}
.s-aw2016-bg,
.s-aw2016-leon{
	position: absolute;
	bottom: 0%;
	right: 0;
	width: 100%;
}
.s-pre{
  --item-text1: #434240;
  --item-text2: #9e9d99;
  --item-bg: #ece9e9;
}
.s-pre-img{
	position: absolute;
	top: 0%;
	height: 100%;
	right: 0;
}
.s-post{
  --item-text1: #333;
  --item-text2: #666;
  --item-bg: #F8E000;
}
.s-post .inner-item{
	background: #F8E000 url('../assets/post.jpg') no-repeat;
	background-size: cover;
}
/* ~Better Shadow */
.s-better-shadow{
  --item-text1: #404d5c;
  --item-text2: #939aa3;
  --item-bg: #f5f5f5;
}
.s-better-shadow-img{
	position: absolute;
	bottom: 0;
	height: 100%;
	right: 10%;
	transform: translate(3rem,0);
	opacity: 0;
}
.s-better-shadow-img.in-view{
	transform: translate(0,0);
	opacity: 1;
}
/* ~Anyway Web */
.s-anyway-web{
  --item-text1: #fff;
  --item-bg: #ec1138;
}
.s-anyway-web-img{
	position: absolute;
	bottom: 0;
	height: 100%;
	right: 0;
	transform: translate(3rem,0);
	opacity: 0;
}
.s-anyway-web-img.in-view{
	transform: translate(0,0);
	opacity: 1;
}
/* ~Anyway Tab */
.s-anyway-tab{
  --item-text1: #333;
  --item-text2: #9d8b1e;
  --item-bg: #ffe324;
}
.s-anyway-tab .inner-item{
	background: #ffe324;
}
.s-anyway-tab-img{
	position: absolute;
	bottom: 10%;
	width: 50%;
	right: 0;
	transform: translate(3rem,0);
	opacity: 0;
}
.s-anyway-tab-img.in-view{
	transform: translate(0,0);
	opacity: 1;
}
.s-clover{
  --item-text1: #fff;
  --item-text2: #aef1f9;
  --item-bg: #4fd2e5;
}
.s-clover .item-bg{
	position: absolute;
	top: 10%;
	height: 80%;
	left: none;
	right: 0;
}
.clover-img-1,
.clover-img-2{
	opacity: 0;
}
.s-clover .item-bg {
	transition: all .2s cubic-bezier(1,0,1,0) 0s;
}
.s-clover:hover .item-bg {
	transition: all .8s cubic-bezier(1,0,0,1) 0s;
}

.s-clover:hover .clover-img-0 {
	opacity: .7;
}
.s-clover:hover .clover-img-1 {
	opacity: .5;
	transform: translate(-.3em,-0.8em) scale(1.01);
}

.s-clover:hover .clover-img-2 {
	opacity: .4;
	transform: translate(-.7em,-1.6em) scale(1.03);
}
.s-iconmoon{
  --item-text1: #00c1d3;
  --item-text2: #fff;
  --item-bg: #2f374a;
}
.s-iconmoon .inner-item{
	background: #2f374a url('../assets/iconmoon-bg-2.jpg') no-repeat;
	background-size: cover;
}
.s-iconmoon .item-bg{
	position: absolute;
	top: 0;
	width: 57%;
	left: 48%;
}
/*~About*/
.about{
	background: #fff;
	background-attachment: fixed;
}
.about .inner-item{
	height: auto;
}
.about .item-main{
	overflow: hidden;
	padding: 10rem 0 1rem;
}
.about-2 .item-main,
.about-3 .item-main{
	padding: 1rem 0 1rem;
}
.about-4 .item-main{
	padding: 1rem 0 8rem;
}
.about h1{
	float: left;
	color: var(--text1);
  padding-left: var(--page-left-padding);
}
.about .item-desc{
	text-align: left;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.8;
	display: block;
	width: 62%;
	float: right;
	padding: 0;
	margin: .1rem 0 0;
	color: #333;
}
.about .item-desc > div{
	/*background: rgba(0, 0, 0, .02);*/
	/*padding: 1.5rem;*/
	margin:  0 0 1em;
	/*border-left: 4px solid #fac200;*/
}
.about .item-desc a{
	color: #333;
	font-weight: 700;
	display: inline-block;
	text-decoration: underline;
	transition: all .15s cubic-bezier(0.4,0,0,1);
}
.about .item-desc a:after{
	width: 100%;
	content: "";
	display: block;
	transform: translateY(-.3em);
}
.about .item-desc a:hover{
	background: rgba(0, 0, 0, .85);
	color: #fff;
}
.about-list a{
  display: block;
}
/*~Footer*/
footer{
	color: rgba(255, 255, 255, .55);
	color: #333;
	font-size: .875rem;
	font-weight: 300;
}
.inner-footer{
	padding: 2rem 0 3rem;
	border-top: 1px solid rgba(255, 255, 255, .25);
	border-top: 1px solid rgba(0, 0, 0, .25);
	text-align: center;
}
/*~Small Reslotuion*/
@media screen and (max-width: 1400px){
  :root{
    --page-left-padding: 6rem;
  }
}
@media screen and (max-width: 1200px){
  :root{
    --page-left-padding: 3rem;
  }
	.inner-item{
		height: 25rem;
	}
	.tagline {
		font-size: 2rem;
	}
	h1 {
		font-size: 1.6rem;
	}
	.item-main {
		padding-top: 10rem;
	}

	.body-text{
		max-width: 70%;
	}
	.autowidth{
		max-width: 80%;
		width: 80rem;
	}
}
@media screen and (max-width: 1000px){
	.inner-item{
		height: auto;
	}
	.autowidth{
		display: block;
		max-width: 90%;
		margin: 0 auto;
	}
	header{
		padding: 2em 0;
	}
	header .autowidth {
		max-width: 80%;
	}
	.tagline {
		font-size: 1rem;
		padding-top: 1em;
	}
	.desc {
		font-size: .8rem;
		padding-bottom: 1em;
		color: #bbb;
	}
	h1 {
		font-size: 1.5rem;
	}

	nav ul{
		display: none;
	}
  .item-main{
		padding-top: 4rem;
    padding-left: 0;
	}
	.half{
		width: 100%;
    float: none;
	}
	.half .inner-item{
		height: auto;
	}
	.half .item-main{
		padding-top: 4rem;
	}
	.item-desc{
		width: 80%;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}
	.mobile-full-width{
		display: block;
		margin: 0 auto;
		left: none;
		right: none;
		position: static;
		height: auto;
		width: auto;
		max-width: 90%;
	}
	.s-anyway-web-img,
	.s-anyway-tab-img,
	.s-better-shadow-img,
	.s-clover .item-bg {
		max-width: 100%;
		position: static;
		height: auto;
	}
	.clover-img-1,
	.clover-img-2 {
		display: none;

	}
	.clover-img-0 {
		margin: 2em 0 3em;
	}
	.half-l .inner-item,
	.half-r .inner-item{
		margin: 1rem 1rem 0;
	}
	.item h1{
		text-align: center;
	}

	.item h1:before{
		display: none;
	}
	.s-anyway .item-tags {
		width: 80%;
		margin: 0 auto;
		text-align: left;
	}
	.s-aw2016-logo {
		margin-bottom: 5em;
	}
	.about .item-desc {
		width: 100%;
		margin: 1em 0 0;
		font-size: .8rem;
	}
	.item-desc {
		margin: 3em auto;
		width: auto;
		height: auto;
	}
	.item-btns{
		margin: 0 auto 3em;
		float: none;
	}
	.about .item-main{
		padding: 2rem 0 0;
	}
	.about-4 .item-main{
		padding: 2rem 0 3rem;
	}
  .about h1{
    padding-left: 0;
  }
}


@font-face {
  font-family: 'Apercu';
  src: url('https://s.anyway.red/iconmoon/apercu/apercu-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Apercu';
  src: url('https://s.anyway.red/iconmoon/apercu/apercu-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Apercu';
  src: url('https://s.anyway.red/iconmoon/apercu/apercu-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face
{
  font-family: "Fira";
	src: url('https://s.anyway.red/font/fira-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face
{
  font-family: "Fira";
	src: url('https://s.anyway.red/font/fira-regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}